week 周
Monday 周一
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
January
Febrary
March
April
May
June
July
August
September
October
November
December
Spring
Summer
fall
Autumn
century
millennium
period
era
epoch
age
time
calendar
day
year
everyday
weekend
weekday
fortnight
temporarily
timely
forever
while
dawn
twillight
morning
noon
midday
dusk
evening
night
midnight
bedtime
lifetime
decade
before
after
during
ago
over
when
whenever
previous
one
two
three
four
five
six
seven
eight
nine
ten
eleven
twelve
thirteen
fourteen
fifteen
sixteen
seventeen
eighteen
nineteen
twenty
twenty-one
twenty-two
twenty-three
twenty-four
twenty-five
twenty-six
twenty-seven
twenty-eight
twenty-nine
thirty
forty
fifty
sixty
seventy
eighty
ninety
hundred
thousand
million
billion
score
first
second
third
fourth
fifth
sixth
seventh
eighth
ninth
tenth
eleventh
twelfth
thirteen
fourteen
fifteen
sixteen
seventeen
eighteen
nineteen
twentieth
thirtieth
fortieth
fiftieth
sixtieth
seventieth
eightieth
ninetieth
hundredth
clock
watch
timepiece
hand
hour
minute
second
hour-hand
minute-hand
second-hand
date
at
alarm
alarm clock
electronic
mechanical
clockwise
anti-clockwise
quartz
clock tower
accurate
watchmaker
watch-strap
festival
New Year's day
spring Festival
New Year's Eve
lantern
Lantern Festival
Arbor Day
Tomb-sweeping Festival
Dragon Boat Festival
Mid-autumn Festival
Double Ninth Festival
Amy Day
Teachers' Day
National Day
tradition
traditional
watch-night service
cracker
firecracker
explode
celebrate
dancing dragon
dancing lion
spring festival couplets
stick
zong zi
riddle
guess
realgar wine
sachet
Dragon boat racing
yuanxiao
gift money
red envelope
Christmas
Christmas Eve
Easter
holiday
Thanksgiving
Valentine's Day
April Fools' Day
Monthers' Day
Fathers' Day
Halloween
carnival
Hanukkah
World Food day
World Health Day
celebration
Christmas tree
Christmas box
Christmas cake
Christmas card
Christmas carol
Santa Claus
Father Christmas
Easter egg
trick or treat
turky
prank
Halloween candy
wish
pudding
cheat
birthday
birthday cake
birthday song
birthday card
gift
present
happy
candle
blow
birth
fun
share
party
shock
may
invite
accept
refuse
propose
wonderful
clothes
clothing
uniform
underwear
layette
gown
bathrobe
tail
nightshirt
nightdress
tracksuit
sweat
tie
suit
ready-made
casual
formal
dressy
tailored
material
fabric
texture
cotton
silk
wool
linen
polyester
velvet
velvety
canvas
leather
quality
handle
feel
soft
synthetic
breathable
green
emerald
jadde
olive
aqua
pistachio
turquoise
sea-green
mustard
yellow
orange
lemon
yellowish
gold
tan
sallow
cream
off-white
chartreuse
ochre
amber
blue
azure
sapphire
sky-blue
navy
indigo
cerulean
aquamarine
cobait
bluish
royal blue
ultramarine
purple
hellotrope
lavender
purplish
deep blue
violet
lilac
red
pink
plum
crimson
rose
vermeil
claret
burgundy
scarlet
silver
black
bronze
white
ivory
milky
grey
brown
chestnut
ecru
color
suit
match
plain
elegant
contrast
athletic
mode
complexion
latest
appropriate
loud
perfectly
fashionable
multicoloured
comfortable
impression
detail
fashion
trend
style
old-style
collar
neckline
U-shape
V-neck
measurement
size
small
medium
large
king-size
XL
bust
waist
lapel
detachable
polo neck
smock
cap
hat
derby
boater
topper
topi
hood
trilby
beanie
beret
yarmulke
stetson
wear
headgear
turban
helmet
crown
band
remove
visor
hatband
peak
brim
coat
overcoat
jacket
bolero
blouse
shirt
T-shirt
jersey
sweater
cardigan
slipover
jerkin
doublet
vest
corset
bra
sleeve
sleeveless
button
loose
tight
skinny
trousers
bottom
jeans
flare
pants
shorts
pantaloons
leggings
briefs
panties
culottes
braces
leg
pocket
zipper
zip
fastener
baggy
loosely
floppy
snug
skirt
dress
mini
miniskirt
tutu
kilt
underskirt
slip
cheonsam
caftan
pinafore
chemise
kimono
low-rise
bodice
underdress
bohemian
fril
high-waisted
diaphanous
shoe
clog
boot
slipper
sandal
lace-up
loafer
trainer
sneaker
thong
stiletto
pump
sole
sock
cleat
hose
stocking
heel
lace
pair
stout
flimsy
bag
handbag
briefcase
backpack
holdall
plastic
suitcase
trunk
purse
wallet
satchel
grip
pannier
strap
thin
thick
puller
elastic
interlining

