{% extends 'base.html' %}
{% block title %}小说{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if novel_source_list %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							分类<b class="caret"></b>
						</a>
						<ul class="dropdown-menu menu-top">
						{% for novel_source in novel_source_list %}
							<li><a href="/novel/{{ novel_source.CategoryId }}/1" >{{ novel_source.CategoryName }}</a></li>
						{% endfor %}
						</ul>
					</li>
				{% endif %}
			</ul>
			{% include "common/search_form.html" %}
			{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-sm-offset-3 col-md-12 col-md-offset-2">
				{% if contacts %} 
				{% for novel_info in contacts %}
				<div class="row clearfix">
					<div class="col-md-2">
						<h4><a href="/novel/menu/{{ novel_info.item_id }}">{{ novel_info.novel_name }}</a></h4>
					</div>
					<div class="col-md-2">
						<h4>作者：<span><a href="/novel/author/{{ novel_info.item_id }}">{{ novel_info.author }}</a></span></h4>
					</div>
					<div class="col-md-8">
						<h4><a href="/novel/content/{{ novel_info.last_upd_content_id }}/{{ novel_info.last_upd_content_id }}">{{ novel_info.last_upd_content_title }}</a></h4>
					</div>
				</div>
				{% endfor %} 
				{% endif %}
				<div class="row clearfix">
					{% if pages %}
					<ul class="pagination pagination-lg">
						{% for page in pages %}
						<li>
							 <a href="/novel/{{ page.page_url }}">{{ page.page_no }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}