<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
		aria-expanded="false">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/index">AlvinTool</a>
	<form class="navbar-form navbar-left">
		<div class='input-group date' id='datetimepicker1'>
			<input type='text' class="form-control" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</form>
	
	<button type="button" class="btn btn-primary" onclick="speakText()">
		<span class="glyphicon glyphicon-play" id="sayer"></span>
	</button>
	<button type="button" class="btn btn-primary" onclick="stopSpeak()">
		<span class="glyphicon glyphicon-stop"></span>
	</button>
	
</div>