<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>博客</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/css/colorpicker.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-dialog.min.css" rel="stylesheet">
<link href="/static/css/dashboard.css" rel="stylesheet">
<link href="/static/css/prettify.min.css" rel="stylesheet">
{% load static %}
<link href="{% static 'mdeditor/css/editormd.css' %}" rel="stylesheet">
<link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/moment-with-locales.js"></script>
<script type="text/javascript" src="/static/js/JsBarcode.all.min.js"></script>
<script type="text/javascript" src="/static/js/qrcode.min.js"></script>
<script type="text/javascript" src="/static/js/colorpicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="/static/js/holder.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/js/run_prettify.min.js"></script>
<script type="text/javascript" src="/static/js/speaker.js"></script>

<script type="text/javascript" src="{% static 'mdeditor/js/editormd.js' %}"></script>

</head>
<body data-spy="scroll" data-target="#myScrollspy">
	{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% include "common/blog_menu.html" %}
				{% include "common/search_form.html" %}
				{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{% if blog_category_list %} 
				<div class="btn-group btn-group-justified" role="group" aria-label="Category">
				{% for category in blog_category_list %}
					{% if forloop.counter == 13 %}
					</div>
					<div class="btn-group btn-group-justified" role="group" aria-label="Category">
					{% endif %}
					<a class="btn btn-default" href="/blog/{{ category.CategoryId }}/1" role="button">{{ category.CategoryName }}</a>
				{% endfor %}
				</div>
				{% endif %}
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-9" style="text-align:left" id="myScrollspy">
				{% if action == 'detail' %}
				<div class="row" id="content">
					<h1>{{ article.Title }}</h1>
					<p>{{ article.UpdateTime }}&nbsp;
					阅读&nbsp;{{ article.Click }}&nbsp;
					{{ article.Tag }} 
					{% if article.AuthorId == request.session.user_id %}
					<a href="/blog/articleupd/{{ article.Id }} ">编辑日志</a>
					<a href="/blog/articledel/{{ article.Id }}">删除日志</a>
					{% endif %}
					</p>
					<br>
					<br>
					<div id="article_content">
						<textarea style="display: none">{{ article.Content }}</textarea>
					</div>
					<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
					<script>
					$(function(){
					// js 解析markdown
						editormd.markdownToHTML("article_content", {
							
		                	emoji: true,
		                	taskList:true,
		                	tex: true,               // 默认不解析
		                	flowChart:true,         // 默认不解析
		                	sequenceDiagram:true,  // 默认不解析
						});
					})
					</script>
				</div>
				<div class="row">
					<nav aria-label="...">
  						<ul class="pager">
  						{% if p_article %}
    					<li class="previous"><a href="/blog/article/{{ p_article.Id }}"><span aria-hidden="true">&larr;</span>上一篇 &nbsp; {{ p_article.Title}}</a></li>
    					{% endif %}
    					{% if n_article %}
    					<li class="next"><a href="/blog/article/{{ n_article.Id }}">下一篇 &nbsp; {{ n_article.Title}}<span aria-hidden="true">&rarr;</span></a></li>
    					{% endif %}
  						</ul>
					</nav>
				</div>
				<div class="row">
					<p>评论 <small>共{{ comments|length }}条评论</small></p>
					<form action="/blog/comment/{{ article.Id }}" method="post">
						{% csrf_token %}
						<!-- {{ form.media }} -->
						<div class="form-group">
                  			{{ comment_form.Content.label_tag }}
                  			{{ comment_form.Content}}
              			</div>
						<input type="submit" name="提交">
					</form>
					{% for comment_item in comments %}
					<p class="comment"><strong>{{ comment_item.AuthorName }}</strong>: {{ comment_item.Content }} &nbsp;&nbsp; <em>{{ comment_item.UpdateTime }}</em></p>
					{% endfor %}
              	</div>
              	{% endif %}
              	{% if action == 'detaillist' %}
              	<div class="row">
				{% if articles %} 
				{% for article in articles %}
					<div class="row clearfix">
					<h3>
						{% if article.Original == 1 %}
          				<button type="button" class="btn btn-success " title="本文为{{ article.AuthorName }}原创博文">原</button>
          				{% endif %}
          				{% if article.Original == 0 %}
          				<button type="button" class="btn btn-primary" title="本文为转载文章">转</button>
          				{% endif %}
        				<a href="/blog/article/{{ article.Id }}">{{ article.Title }}</a>
					</h3>
					<h4>作者：<span class="label label-success"><a>{{ article.AuthorName }}</a></span>
         					/ 发表：<span class="label label-success"> {{ article.CreateTime }} </span>
       					/ <span class="label label-success"><a href="#" >{{ article.CategoryName }}/ 阅读量：{{ article.Click }}</a></span>
      				</h4>
					<p>
						{% autoescape off %}
        					{{ article.Synopsis }}
       					{% endautoescape %}
					</p>
					<p>
						<a href="/blog/article/{{ article.Id }}">CONTINUE READING</a>
					</p>
					</div>
					<hr>
				{% endfor %}
				{% else %}
				<a href="/blog/articleadd">创建日志</a>
				{% endif %}
				</div>
				{% endif %}
              	{% if action == 'add' or action == 'upd' %}
              	<div class="row">
              		<form enctype="multipart/form-data" class='form-register' action="/blog/article{{action}}/submit/" method="post">

              		{% csrf_token %}
              		<h2 class="text-center">欢迎使用</h2>
              		<div class="form-group">
                  		{{ form.Id }}
                  		{{ form.AuthorId}}
              		</div>
              		<div class="form-group">
                  		{{ form.Title.label_tag }}
                  		{{ form.Title}}
              		</div>
              		<div class="form-group">
                  		{{ form.Synopsis.label_tag }}
                  		{{ form.Synopsis}}
              		</div>
              		<div class="form-group">
                  		{{ form.CategoryId.label_tag }}
                  		{{ form.CategoryId}}
              		</div>
              		<div class="form-group">
                  		{{ form.TagId.label_tag }}
                  		{{ form.TagId}}
              		</div>
              		<div class="form-group">
                  		{{ form.Type.label_tag }}
                  		{{ form.Type}}
              		</div>
              		<div class="form-group">
                  		{{ form.Original.label_tag }}
                  		{{ form.Original}}
              		</div>
              		<div class="form-group">
                  		{{ form.Content.label_tag }}
                  		{{ form.Content}}
              		</div>
              		<button type="reset" class="btn btn-default pull-left">重置</button>
              		<button type="submit" class="btn btn-primary pull-right">提交</button>
              		</form>
              	</div>
              	{% endif %}
			</div>
		
			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.Name }} 的博客 
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/img/{{ author.Logo }}" width="50px" height="50px"></img>
						</h3>
					</div>
					<div class="panel-body">
						简介:{{ author.Detail }} 
					</div>
					<div class="panel-footer">
						<div class="col-md-4 column">
						文章数:<a href="/blog/articles/">{{ article_cnt }}</a>
						</div>
						<div class="col-md-4 column">
						阅读人数:{{ view_count }}
						</div>
						<div class="col-md-4 column">
						<a href="/blog/articleadd">创建日志</a>
						</div>
					</div>
					<hr>
					<div class="panel-group" id="panel-tag-yearmonth">
						<div class="panel panel-default">
							<div class="panel-heading">
						 		<a class="panel-title" data-toggle="collapse" data-parent="#panel-tag-yearmonth" href="#panel-element-tag">标签归档</a>
							</div>
							<div id="panel-element-tag" class="panel-collapse in">
								<div class="panel-body">
								{% for tag_name,tag_articles in tag.items %}
									<div class="panel-heading">
						 				<a class="panel-title" data-toggle="collapse" data-parent="#panel-tag-yearmonth" href="#panel-element-tag-{{ tag_name }}">{{ tag_name }} ({{ tag_articles|length }})</a>
									</div>
									<div id="panel-element-tag-{{tag_name}}" class="panel-collapse in">
										<div class="panel-body">
											<ol>
											{% for tag_article in tag_articles %}
												<li><a href="/blog/article/{{ tag_article.Id }}">{{ tag_article.Title }}</a></li>
											{% endfor %}
											</ol>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-tag-yearmonth" href="#panel-element-yearmonth">日期归档</a>
							</div>
							<div id="panel-element-yearmonth" class="panel-collapse collapse">
								<div class="panel-body">
								{% for month_name,month_articles in month.items %}
									<div class="panel-heading">
						 				<a class="panel-title" data-toggle="collapse" data-parent="#panel-tag-yearmonth" href="#panel-element-tag-{{ month_name }}">{{ month_name }} ({{ month_articles|length }})</a>
									</div>
									<div id="panel-element-tag-{{month_name}}" class="panel-collapse in">
										<div class="panel-body">
											<ol>
											{% for month_article in month_articles %}
												<li><a href="/blog/article/{{ month_article.Id }}">{{ month_article.Title }}</a></li>
											{% endfor %}
											</ol>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<script type="text/javascript" src="/static/js/load.js"></script>
	<script type="text/javascript" src="/static/js/tool.js"></script>
</body>
</html>