{% extends 'base.html' %}
{% load tagfilter %}
{% block title %}{{ book_type }}{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/{{ book_type }}/book/index/">{{ book_type }}主页</a></li>
					{% if source_list %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							分类[{{ CategoryName }}]<b class="caret"></b>
						</a>
						<ul class="dropdown-menu menu-top" style="height:100px;overflow:scroll">
						{% for source in source_list %}
							<li><a href="/{{ book_type }}/book/{{ source.CategoryId }}/1" >{{ source.CategoryName }}</a></li>
						{% endfor %}
						</ul>
					</li>
					{% endif %}
				</ul>
				{% include "common/search_form.html" %}
				{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div id="content" class="row">
		{% if action == 'section' %}
			<div class="row clearfix">
				<h2 class="text-center">{{ book_content_info.cur_content.ChapterName }}</h2>
			</div>
			<div class="row clearfix">
				{% if request.session.user_role|get_map_val_by_key:book_type >= 4 %}
				<div class="col-md-4 text-left">
					<a href="/{{ book_type }}/book/sectiondel/{{book_content_info.cur_content.Id}}">删除</a>
				</div>
				<div class="col-md-4 text-center">
				</div>
				<div class="col-md-4 text-right">
					<a href="/{{ book_type }}/book/sectionupd/{{book_content_info.cur_content.Id}}">修改</a>
				</div>
				{% endif %}
			</div>
			<div class="row clearfix">
				<div class="col-md-4 text-left">
					{% if book_content_info.prev_content_id is not None %}
						<a href="/{{ book_type }}/book/section/{{ book_content_info.parent_item_id }}/{{book_content_info.prev_content_id}}/{{ max_section_order_no }}">上一章</a>
					{% endif %}
				</div>
				<div class="col-md-4 text-center">
					<a href="/{{ book_type }}/book/menu/{{ book_content_info.parent_item_id }}">目录</a>
				</div>
				<div class="col-md-4 text-right">
					{% if book_content_info.next_content_id is not None %}
						<a href="/{{ book_type }}/book/section/{{ book_content_info.parent_item_id }}/{{book_content_info.next_content_id}}/{{ max_section_order_no }}">下一章</a>
					{% endif %}
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div id="section_content">
						<textarea style="display: none">{{ book_content_info.cur_content.Content }}</textarea>
					</div>
					<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
  					<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
					<script>
					$(function(){
					// js 解析markdown
						editormd.markdownToHTML("section_content", {
							
		                	emoji: true,
		                	taskList:true,
		                	tex: true,               // 默认不解析
		                	flowChart:true,         // 默认不解析
		                	sequenceDiagram:true,  // 默认不解析
						});
					})
					</script>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2">
					{% if book_content_info.prev_content_id is not None %}
						<a href="/{{ book_type }}/book/section/{{ book_content_info.parent_item_id }}/{{book_content_info.prev_content_id}}/{{ max_section_order_no }}">上一章</a>
					{% endif %}
				</div>
				<div class="col-md-8 text-center">
					<a href="/{{ book_type }}/book/menu/{{ book_content_info.parent_item_id }}">目录</a>
				</div>
				<div class="col-md-2">
					{% if book_content_info.next_content_id is not None %}
						<a href="/{{ book_type }}/book/section/{{ book_content_info.parent_item_id }}/{{book_content_info.next_content_id}}/{{ max_section_order_no }}">下一章</a>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-11">
					<p>评论 <small>共{{ comments|length }}条评论</small></p>
					<form action="/{{book_type}}/comment/ins/{{ book_content_info.cur_content.Id }}/" method="post">
					{% csrf_token %}
					<!-- {{ form.media }} -->
					<div class="form-group">
                  		{{ comment_form.Content.label_tag }}
                  		{{ comment_form.Content}}
              		</div>
					<input type="submit" name="提交">
					</form>
					{% for comment_item in comments %}
					{% if request.session.user_name == comment_item.AuthorName %}
						<p class="comment"><strong>{{ comment_item.AuthorName }}</strong>: {{ comment_item.Content }} &nbsp;&nbsp; <em>{{ comment_item.UpdateTime }}</em>&nbsp;&nbsp;<a href="/{{book_type}}/comment/del/{{ comment_item.Id }}">删除</a></p>
					{% else %}
						<p class="comment"><strong>{{ comment_item.AuthorName }}</strong>: {{ comment_item.Content }} &nbsp;&nbsp; <em>{{ comment_item.UpdateTime }}</em></p>
					{% endif %}
					{% endfor %}
				</div>
             </div>
		{% endif %}
		{% if action == 'menu' %}
			<div class="col-md-12">
				<div class="col-md-2">
					{% if book_menu_info.book.ImageContent|truncatechars:4 == 'http' %}
						<img src="{{ book_menu_info.book.ImageContent }}" width="400" class="img-responsive" alt="{{ book_menu_info.book.BookName }}">
					{% else %}
						<img src="/media/img/{{ book_menu_info.book.ImageContent }}" width="400" class="img-responsive" alt="{{ book_menu_info.book.BookName }}">
					{% endif %}
				</div>
				<div class="col-md-8">
					<h2>{{ book_menu_info.book.BookName }}</h2>
					<h4>作者:<a href="/{{ book_type }}/book/author/{{ book_menu_info.book.Id }}">{{book_menu_info.book.Author}}</a></h4>
					<p>最新章节:
						{% if book_menu_info.book.MaxSectionId >= 0 %}
						<a href="/{{ book_type }}/book/section/{{ book_menu_info.book.Id }}/{{book_menu_info.book.MaxSectionId}}/{{book_menu_info.book.MaxSectionId}}">{{book_menu_info.book.MaxSectionName}}</a></p>
						{% else %}
						无
						{% endif %}
					<p>简介:</p>
					<p>{{ book_menu_info.book.Description}}</p>
					{% if request.session.user_role|get_map_val_by_key:book_type >= 2 %}
					<p><a href="/{{ book_type }}/book/download/{{book_menu_info.book.Id}}">下载本书</a></p>
					{% endif %}
					{% if request.session.user_role|get_map_val_by_key:book_type >= 4 %}
					<p><a href="/{{ book_type }}/book/sectionadd/{{book_menu_info.book.Id}}">新增章节</a></p>
					{% endif %}
				</div>
			</div>
			<div class="col-md-12">
				{% if book_menu_info.sections %}
				<div class="row clearfix">
				{% for section in book_menu_info.sections %}
					{% if forloop.counter0|divisibleby:3  %}
					</div>
					<div class="row clearfix">
					{% endif %}
						<div class="col-md-4">
							<a href="/{{ book_type }}/book/section/{{ book_menu_info.book.Id}}/{{ section.OrderNo }}/{{ book_menu_info.book.MaxSectionId }}">{{ section.ChapterName }}</a>
						</div>
				{% endfor %}
				</div>
				{% endif %}
			</div>
		{% endif %}
		{% if action == 'author' %}
			<div class="row clearfix">
				<h2 class="text-center">作者：<span><a href="/{{ book_type }}/book/author/{{ book_id }}">{{ author_name }}</a></span></h2>
			</div>
			<div class="col-md-12">
				{% if book_info_list %} 
				{% for book_info in book_info_list %}
				<div class="row clearfix">
					<div class="col-md-6">
						<h3><a href="/{{ book_type }}/book/menu/{{ book_info.Id }}">{{ book_info.BookName }}</a></h3>
					</div>
					<div class="col-md-6">
						<p>最新:<a href="/{{ book_type }}/book/section/{{ book_info.Id }}/{{ book_info.MaxSectionId }}/{{ book_info.MaxSectionId }}">{{ book_info.MaxSectionName }}</a></p>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		{% endif %}
		{% if item == 'book' %}
			{% if action == 'add' or action == 'upd' %}
				<div class="row">
					<form enctype="multipart/form-data" class='form-register' action="/{{ book_type }}/book/menu{{action}}/{{ book_id }}/submit/" method="post">
			
					{% csrf_token %}
					<h2 class="text-center">欢迎使用</h2>
					<div class="form-group">
						{{ form.Id }}
					</div>
					<div class="form-group">
						<div class="col-md-4 text-right">
							{{ form.BookName.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.BookName}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4 text-right">
							{{ form.Description.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.Description}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4 text-right">
							{{ form.Author.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.Author}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4 text-right">
							{{ form.ImageContent.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.ImageContent}}
						</div>
					</div>
					<div class="form-group">
						
						<div class="col-md-4 text-right">
							{{ form.CategoryId.label_tag }}
						</div>
						<div class="col-md-8">
							{{ form.CategoryId}}
						</div>
					</div>
					<div class="row-clearfix">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="reset" class="btn btn-default pull-left">重置</button>
							<button type="submit" class="btn btn-primary pull-right">提交</button>
						</div>
						<div class="col-md-4"></div>
					</div>
					</form>
				</div>
			{% endif %}
		{% endif %}
		{% if item == 'section' %}
			{% if action == 'add' or action == 'upd' %}
				<div class="row">
					<form enctype="multipart/form-data" class='form-register' action="/{{ book_type }}/book/section{{action}}/{{booksec_id}}/submit/" method="post">
			
					{% csrf_token %}
					<h2 class="text-center">欢迎使用</h2>
					<div class="form-group">
						{{ form.Id }}
						{{ form.BookId}}
						{{ form.OrderNo}}
						{{ form.SectionNo}}
					</div>
					<div class="form-group">
						<div class="row clearfix">
							<div class="col-md-2 text-right">
								{{ form.ChapterName.label_tag }}
							</div>
							<div class="col-md-10">
								{{ form.ChapterName}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row clearfix">
							<div class="col-md-2 text-right">
								{{ form.Content.label_tag }}
							</div>
							<div class="col-md-10">
								{{ form.Content}}
							</div>
						</div>
					</div>
					<div class="row-clearfix">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="reset" class="btn btn-default pull-left">重置</button>
							<button type="submit" class="btn btn-primary pull-right">提交</button>
						</div>
						<div class="col-md-4"></div>
					</div>
					</form>
				</div>
			{% endif %}
		{% endif %}
		</div>
	</div>
{% endblock %}