{% extends 'base.html' %}
{% block title %}教程{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		{% include "common/alvin_header.html" %}
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		{% include "common/search_form.html" %}
		{% include "common/login_register.html" %}
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row" id="content">
		
			<div class="col-sm-3 col-md-2 sidebar" id="myScrollspy">
				<ul class="nav nav-sidebar" data-spy="affix" data-offset-top="150">
					<li><a href="#">全部教程</a></li>
					{% if menu_list %}
            			{% for menu in menu_list %}
            			<li><a href="{{ menu.CategoryValue1 }}">{{ menu.CategoryName }}</a></li>
            			{% endfor %}
        			{% endif %}
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					{% if val_list %}
						{% for item in val_list %}
						<div class="row placeholders">
						<h1 class="page-header" id="{{ item.id }}">{{ item.title }}</h1>
							{% for info in item.infos %}
								<div class="col-xs-6 col-sm-4 placeholder">
    								<a href="{{ info.LessonHref }}">
    									<img src="/media/img/{{ info.ImageName }}" width="{{ info.Width }}" height="{{ info.Height }}" class="img-responsive" alt="{{ info.LessonName }}">
    									<h4>{{ info.LessonName }}</h4>
    									<span class="text-muted">{{ info.Description }}</span>
   	 								</a>
								</div>
							{% endfor %}
						</div>
						{% endfor %}
        			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}