{% extends 'base.html' %}
{% load tagfilter %}
{% block title %}{{media_type}}{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
					<li><a href="/{{ media_type }}/media/index/">{{ media_type }}主页</a></li>
					{% if source_list %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							分类[{{ CategoryName }}]<b class="caret"></b>
						</a>
						<ul class="dropdown-menu menu-top" style="height:100px;overflow:scroll">
							{% for media_source in source_list %}
							<li><a href="/{{ media_type }}/media/{{ media_source.CategoryId }}/1" >{{ media_source.CategoryName }}</a></li>
							{% endfor %}
						</ul>
					</li>
					{% endif %}
			</ul>
			{% include "common/search_form.html" %}
			{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{% if media %}
				<div class="row clearfix text-center">
					<h1>{{ media.MediaName }}</h1>
					{% if request.session.user_role|get_map_val_by_key:media_type >= 2 %}
					<p><a href="/{{media_type}}/media/download/{{ media.Id }}">下载</a></p>
					{% endif %}
					<p>介绍:{{media.Content}}</p>
					<p>作者:{{media.Authors}}</p>
				</div>
				<div class="container">
					<div class="col-md-12 column text-center">
					{% if media_type == 'image' %}
						<img width="800" alt="{{media.MediaName}}_{{media_section.OrderNo}}" src="/media{{media.ParentDir}}/{{media.MediaName}}_{{media_section.OrderNo}}.{{media_section.Preffix}}"/>
					{% elif media_type == 'audio' %}
						{% if total_count == 1 %}
						<audio controls>
							<source src="/media{{media.ParentDir}}/{{media.MediaName}}.{{media_section.Preffix}}" type="audio/mpeg"/>
						</audio>
						{% else %}
						<audio controls>
							<source src="/media{{media.ParentDir}}/{{media.MediaName}}_{{media_section.OrderNo}}.{{media_section.Preffix}}" type="audio/mpeg"/>
						</audio>
						{% endif %}
					{% elif media_type == 'video' %}
						{% if total_count == 1 %}
						<video width="800" height="600" src="/media{{media.ParentDir}}/{{media.MediaName}}.{{media_section.Preffix}}" controls autoplay muted preload="metadata">
						</video >
						{% else %}
						<video width="800" height="600" src="/media{{media.ParentDir}}/{{media.MediaName}}_{{media_section.OrderNo}}.{{media_section.Preffix}}" controls autoplay muted preload="metadata">
						</video >
						{% endif %}
					{% elif media_type == 'vhider' %}
						{% if total_count == 1 %}
						<video width="800" height="600" src="/media{{media.ParentDir}}/{{media.MediaName}}.{{media_section.Preffix}}" controls autoplay muted preload="metadata">
						</video >
						{% else %}
						<img width="800" alt="{{media.MediaName}}_{{media_section.OrderNo}}" src="/media{{media.ParentDir}}/{{media.MediaName}}_{{media_section.OrderNo}}.{{media_section.Preffix}}"/>
						{% endif %}
					{% endif %}
					</div>
				</div>
				{% endif %}
				<div class="col-md-12 text-center">
				{% if pages %}
					<ul class="pagination pagination-lg">
						{% for page in pages %}
						<li>
							 <a href="/{{ media_type }}/media/{{ page.page_url }}">{{ page.page_no }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<p>评论 <small>共{{ comments|length }}条评论</small></p>
						<form action="/{{media_type}}/comment/ins/{{ media_section.Id }}/" method="post">
						{% csrf_token %}
						<!-- {{ form.media }} -->
						<div class="form-group">
                  			{{ comment_form.Content.label_tag }}
                  			{{ comment_form.Content}}
              			</div>
						<input type="submit" name="提交">
						</form>
						{% for comment_item in comments %}
						{% if request.session.user_name == comment_item.AuthorName %}
							<p class="comment"><strong>{{ comment_item.AuthorName }}</strong>: {{ comment_item.Content }} &nbsp;&nbsp; <em>{{ comment_item.UpdateTime }}</em>&nbsp;&nbsp;<a href="/{{media_type}}/comment/del/{{ comment_item.Id }}">删除</a></p>
						{% else %}
							<p class="comment"><strong>{{ comment_item.AuthorName }}</strong>: {{ comment_item.Content }} &nbsp;&nbsp; <em>{{ comment_item.UpdateTime }}</em></p>
						{% endif %}
						{% endfor %}
					</div>
             	</div>
			</div>
		</div>
	</div>
{% endblock %}