{% extends 'base.html' %}
{% load tagfilter %}
{% block title %}{{ media_type }}{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if source_list %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							分类[{{ CategoryName }}]<b class="caret"></b>
						</a>
						<ul class="dropdown-menu menu-top" style="height:100px;overflow:scroll">
						{% for media_source in source_list %}
							<li><a href="/{{ media_type }}/media/{{ media_source.CategoryId }}/1" >{{ media_source.CategoryName }}</a></li>
						{% endfor %}
						</ul>
					</li>
				{% endif %}
			</ul>
			{% include "common/search_form.html" %}
			{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div id="content" class="row">
			<div class="col-md-12">
				<div class="row clearfix">
					<div class="col-md-6">
						{% if media_type != 'vhider' %}
						{% if request.session.user_role|get_map_val_by_key:media_type >= 8 %}
						<h1><a href="/{{ media_type }}/media/upload">上传</a></h1>
						{% endif %}
						{% endif %}
					</div>
				</div>
				{% if contacts %} 
				<div class="row clearfix">
				{% for media_info in contacts %}
					{% if forloop.counter0|divisibleby:6 %}
					</div>
					<div class="row clearfix">
					{% endif %}
					<div class="col-md-2">
						<a href="/{{ media_type }}/media/content/{{ media_info.Id }}/0">
						<img width="200" src="/media/{{ media_info.ImageContent }}" alt="{{image_info.Name}}"/>
						</a>
						<h5>{{media_info.MediaName}}</h5>
						<h5>总时长 : {% widthratio media_info.TotalTime 60 1%} min </h5>
						<h5>总大小 : {% widthratio media_info.TotalSize 1048576 1%} M</h5>
					</div>
				{% endfor %}
				</div>
				{% endif %}
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-8">
				{% if pages %}
					<ul class="pagination pagination-lg">
						{% for page in pages %}
						<li>
							 <a href="/{{ media_type }}/media/{{ page.page_url }}">{{ page.page_no }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="col-md-2"></div>
			{% if media_type == 'audio' %}
			
			<div id="aplayer"></div>
			<script type="text/javascript">
			const ap = new APlayer({
			    container: document.getElementById('aplayer'),
			    fixed: true,
			    audio: [
{% for media_info in contacts %}
{
    name: '{{media_info.MediaName}}',
    artist: 'artist',
    url: '/media{{media_info.ParentDir}}/{{media_info.MediaName}}.mp3',
    cover: '/media/{{ media_info.ImageContent }}',
},		    	
{% endfor %}
]
			});
			</script>
			{% endif %}
		</div>
	</div>
{% endblock %}