{% extends 'base.html' %}
{% block title %}小说{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% include "common/novel_menu.html" %}
				{% include "common/search_form.html" %}
				{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{% if novel_source_list %}
				<div class="btn-group btn-group-justified" role="group" aria-label="novel_source">
				{% for novel_source in novel_source_list %}
					{% if forloop.counter == 9 %}
					</div>
					<div class="btn-group btn-group-justified" role="group" aria-label="novel_source">
					{% endif %}
					<a class="btn btn-default" href="/novel/{{ novel_source.Id }}/1" role="button">{{ novel_source.Section }}</a>
				{% endfor %}
				</div>
				{% endif %}
			</div>
			<div class="col-md-12">
				<h2>{{ novel_menu_info.novel_info.novel_name }}</h2>
				<h4>作者:<a href="/novel/author/{{ novel_menu_info.novel_info.item_id }}">{{novel_menu_info.novel_info.author}}</a></h4>
				<p>最新章节:<a href="/novel/content/{{novel_menu_info.novel_info.last_upd_content_id}}">{{novel_menu_info.novel_info.last_upd_content_title}}</a></p>
				<p>简介:</p>
				<p>{{ novel_menu_info.novel_info.intro}}</p>
				<p><a href="/novel/download/{{novel_menu_info.novel_info.item_id}}">下载本书</a></p>
			</div>
			<div class="col-md-12">
				{% if novel_menu_info.novel_contents %}
				<div class="row clearfix">
				{% for novel_content in novel_menu_info.novel_contents %}
					{% if forloop.counter|divisibleby:3  %}
					</div>
					<div class="row clearfix">
					{% endif %}
						<div class="col-md-4">
							<a href="/novel/content/{{ novel_content.Id }}/{{ novel_menu_info.novel_info.last_upd_content_id }}">{{ novel_content.PropertyValue }}</a>
						</div>
				{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}