{% extends 'base.html' %}
{% block title %}小说{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			{% include "common/alvin_header.html" %}
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% include "common/novel_menu.html" %}
				{% include "common/search_form.html" %}
				{% include "common/login_register.html" %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{% if novel_source_list %}
				<div class="btn-group btn-group-justified" role="group" aria-label="novel_source">
				{% for novel_source in novel_source_list %}
					{% if forloop.counter == 9 %}
					</div>
					<div class="btn-group btn-group-justified" role="group" aria-label="novel_source">
					{% endif %}
					<a class="btn btn-default" href="/novel/{{ novel_source.Id }}/1" role="button">{{ novel_source.Section }}</a>
				{% endfor %}
				</div>
				{% endif %}
			</div>
			<div class="row clearfix">
				<h2 class="text-center">作者：<span><a href="/novel/author/{{ item_id }}">{{ author_name }}</a></span></h2>
			</div>
			<div class="col-md-12">
				{% if novel_info_list %} 
				{% for novel_info in novel_info_list %}
				<div class="row clearfix">
					<div class="col-md-6">
						<h3><a href="/novel/menu/{{ novel_info.item_id }}">{{ novel_info.novel_name }}</a></h3>
					</div>
					<div class="col-md-6">
						<p>最新:<a href="/novel/content/{{ novel_info.last_upd_content_id }}">{{ novel_info.last_upd_content_title }}</a></p>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}