{% extends 'base.html' %}
{% block title %}工具{% endblock %}
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		{% include "common/alvin_header.html" %}
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		{% include "common/search_form.html" %}
		{% include "common/login_register.html" %}
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row" id="content">
			<div class="col-md-12" id="myScrollspy">
				<div class="tabbable" id="tabs-alvin">
					<ul class="nav nav-tabs col-md-offset-3" style="font-size: 18px !important;">
					{% if menu_list %}
            			{% for menu in menu_list %}
            			<li><a href="{{ menu.CategoryValue1 }}" data-toggle="tab">{{ menu.CategoryName }}</a></li>
            			{% endfor %}
        			{% endif %}
					</ul>
					<div class="tab-content">
					{% if val_list %}
					{% for item in val_list %}
						<div class="tab-pane" id="{{ item.id }}">
							<div class="col-sm-5 placeholder">
								<div class="panel-body">
									<textarea wrap="off" class="leftNum" id="{{ item.id }}_inleftNum" disabled>1</textarea>
									<textarea class="textareas" id="{{ item.id }}_inputarea" onkeyup="inputKeyUp('{{ item.id }}')" onscroll="document.getElementById('{{ item.id }}_inleftNum').scrollTop = this.scrollTop;" name="input_area" rows="42"></textarea>
								</div>
							</div>
							<div class="col-sm-2 placeholder">
								<select class="col-md-offset-4" style="font-size: 15px !important;" onchange="selectDiv(this,'{{ item.id }}')">
									{% for info in item.infos %}
									<option value="{{ info.FunctionHref }}">{{ info.FunctionName }}</option>
									{% endfor %}
								</select>
								<br/>
								<button onclick="ajaxFunction('{{ item.id }}')" class="btn btn-default col-md-offset-4 col-lg-offset-4 col-xl-offset-4" style="font-size: 25px !important;">提交</button>
								<button onclick="clean('{{ item.id }}')" class="btn btn-default col-md-offset-4 col-lg-offset-4 col-xl-offset-4" style="font-size: 25px !important;">清空</button>
								<br/>
								<div>
									{% for info in item.infos %}
									<div id="{{ item.id }}_{{ info.FunctionHref }}" style="display:none"">
										{% autoescape off %} {{ info.FunctionDesc }} {% endautoescape %}
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="col-sm-5 placeholder">
								<div class="panel-body">
									<textarea wrap="off" class="leftNum" id="{{ item.id }}_outleftNum" disabled>1</textarea>
									<textarea class="textareas" id="{{ item.id }}_outputarea" onchange="outputKeyUp('{{ item.id }}')" onscroll="document.getElementById('{{ item.id }}_outleftNum').scrollTop = this.scrollTop;" name="output_area" rows="42" ></textarea>
								</div>
							</div>
						</div>
					{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="page_middle_html">
		<canvas id="catw" width="300" height="500"></canvas>
 		<script type="text/javascript">
        	loadlive2d("catw", "/static/asset/tororo.model.json");
 		</script>
	</div>
{% endblock %}